*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    color: #fff;
    overflow: hidden;
    background-color: black;
}
.container-fluid{
    height: 100vh;
}


.headingContainer{
    background-color: #6f439c;
}
.filterContainer{
    background-color: #353235;
}
.checkBox{
    margin-left: 10px;
}
.dynamicListContainer{
   background:#353235 ;
   display: flex;
   align-items: center;
  width: 30rem;
}
.remove{
    margin-left: auto;
    margin-top: 13px;
}